.card-body {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.form-container {
    display: flex;
    justify-content: center;

}

input.form-control {
    width: 500px;
}

@media (max-width: 512px) {
    input.form-control {
      width: 300px;
    }
}